<html lang="nl">
	<head>

		<title>het is verrukkuluk! ::
			{{ TITEL }}
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

		<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/fonts.css"/>
		<link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css"/>

		<link rel="stylesheet" type="text/css" href="assets/css/main.css"/>

		<script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
		<script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
		

		 <script>
      $(document).ready( function() {

         $(".star").click( function() {
			const value = $(this).attr('data-value')

		$.ajax({
			url:"./index.php",
			method: "GET",
			data: {				
				gerecht_id: 1,
				gebruiker_id: 2,
				recordType: "W",
				numeriekveld: value,
				action:"addRating"
				},
			success: function(){
				//const value = $(this).attr('data-value')
				console.log("rating added")
			}
		})
			
            $(this).addClass("red")
			
			
			 $(".star").removeClass('red')

			 $('.star').each( (index, elem) => {
              const itemValue = $(elem).attr('data-value')
              if(itemValue <= value) {
                $(elem).addClass('red')
				}
			})
			console.log(`value: ${ value }`)
         })

      })    
		</script>
	</head>
</html>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12"> {% block header %}{% endblock %}
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-12" id="sidebar">
							<img src="assets\img\verrukkulluk-agenda.png">
							<div class="row">
								<div class="col-md-3" id="activiteit">

									<i id="calendar-icon">
										<img src="assets\img\calendar.png"></i>
								</div>
								<div class="col-md-9" id="activiteit">
									<h4>Vegetarisch koken</h4>
									<p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p><br><br>
								</div>
								<div class="col-md-3" id="activiteit">

									<i id="calendar-icon">
										<img src="assets\img\calendar.png"></i>
								</div>
								<div class="col-md-9" id="activiteit">
									<h4>Vegetarisch koken</h4>
									<p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p><br><br>
								</div>
								<div class="col-md-3" id="activiteit">

									<i id="calendar-icon">
										<img src="assets\img\calendar.png"></i>
								</div>
								<div class="col-md-9" id="activiteit">
									<h4>Vegetarisch koken</h4>
									<p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p><br><br>
								</div>
								<div class="col-md-3" id="activiteit">

									<i id="calendar-icon">
										<img src="assets\img\calendar.png"></i>
								</div>
								<div class="col-md-9" id="activiteit">
									<h4>Vegetarisch koken</h4>
									<p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p><br><br>
								</div>
								<div class="col-md-3" id="activiteit">

									<i id="calendar-icon">
										<img src="assets\img\calendar.png"></i>
								</div>
								<div class="col-md-9" id="activiteit">
									<h4>Vegetarisch koken</h4>
									<p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p><br><br>
								</div>


								<a href="https://fontawesome.com/icons?d=gallery&m=free">Documentation</a><br>
								<i class="fa fa-file-pdf"></i>
								<a href="https://www.layoutit.com/build">Layout-it</a>

							</div>
						</div>

						<div class="login">
							<img src="assets\img\verrukkulluk-login.png"/>
							<form>
								<div class="login-icons">
									<i class="fa fa-user icon"></i>
									<input class="input-field " type="text" placeholder="gebruiker">
								</div>

								<div class="login-icons">
									<i class="fa fa-lock icon"></i>
									<input class="input-field " type="password" placeholder="password">
								</div>

								<button class="button" type="submit">
									Log In
								</button>
							</form>
						</div>
					</div>
				</div>


				<div class="col-md-9"> {%  block content %}{%  endblock %}
					</div>
				</div>


				<div class="row">
					<div class="col-md-12" id="footer">
						<div class="row">
							<div class="col-md-3 ">
								<img src="assets\img\verrukkulluk-burger.png">
							</div>
							<div class="col-md-9 ">
								<h1>Contanct</h1>
								<p>Verrukkulluk.nl<br>Poststraat 2B<br>
									info@verrukkulluk.nl</p>
							</div>
						</div>
					</div>
				</div>
			</body>
		</body>
	</div>

</body></body>
